# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
# YOUR CODE HERE
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,kodiak,US,57.7900,-152.4072,45.91,81,100,17.27,light rain
1,1,barrow,US,71.2906,-156.7887,26.62,93,100,16.11,overcast clouds
2,2,pozo colorado,PY,-23.4923,-58.7972,70.86,86,88,3.71,overcast clouds
3,3,upernavik,GL,72.7868,-56.1549,25.74,92,100,8.61,light snow
4,4,oltedal,NO,58.8310,6.0466,44.19,95,69,3.74,broken clouds
...,...,...,...,...,...,...,...,...,...,...
670,670,berberati,CF,4.2612,15.7922,66.94,98,95,1.12,light rain
671,671,tsaratanana,MG,-16.7833,47.6500,65.14,70,1,8.88,clear sky
672,672,acarau,BR,-2.8856,-40.1200,78.42,83,48,18.19,scattered clouds
673,673,barra do corda,BR,-5.5000,-45.2500,80.56,47,30,2.53,scattered clouds
674,674,aswan,EG,24.0934,32.9070,73.56,37,2,11.79,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [ ]:
# Prompt the user to enter the minimum temperature criteria
min_temp =float(input("Minimum Temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp =float(input("Maximum Temperature you would like for your trip?"))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df =city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) &
                                      (city_data_df["Max Temp"]<=max_temp)]
                                    
# Display sample data
# YOUR CODE HERE
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,pozo colorado,PY,-23.4923,-58.7972,70.86,86,88,3.71,overcast clouds
5,5,atuona,PF,-9.8000,-139.0333,77.16,69,0,13.02,clear sky
10,10,luderitz,NaN,-26.6481,15.1594,61.07,78,4,12.21,clear sky
11,11,praia da vitoria,PT,38.7333,-27.0667,62.76,82,20,20.71,few clouds
12,12,walvis bay,NaN,-22.9575,14.5053,58.15,94,14,4.61,few clouds
...,...,...,...,...,...,...,...,...,...,...
669,669,kasongo-lunda,CD,-6.4667,16.8167,70.57,92,100,1.88,overcast clouds
670,670,berberati,CF,4.2612,15.7922,66.94,98,95,1.12,light rain
671,671,tsaratanana,MG,-16.7833,47.6500,65.14,70,1,8.88,clear sky
672,672,acarau,BR,-2.8856,-40.1200,78.42,83,48,18.19,scattered clouds
674,674,aswan,EG,24.0934,32.9070,73.56,37,2,11.79,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
# YOUR CODE HERE
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,pozo colorado,PY,-23.4923,-58.7972,70.86,86,88,3.71,overcast clouds
5,5,atuona,PF,-9.8000,-139.0333,77.16,69,0,13.02,clear sky
11,11,praia da vitoria,PT,38.7333,-27.0667,62.76,82,20,20.71,few clouds
13,13,bereda,ES,43.2686,-7.5406,60.42,95,100,3.29,overcast clouds
14,14,port elizabeth,ZA,-33.9180,25.5701,68.31,97,100,6.91,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
669,669,kasongo-lunda,CD,-6.4667,16.8167,70.57,92,100,1.88,overcast clouds
670,670,berberati,CF,4.2612,15.7922,66.94,98,95,1.12,light rain
671,671,tsaratanana,MG,-16.7833,47.6500,65.14,70,1,8.88,clear sky
672,672,acarau,BR,-2.8856,-40.1200,78.42,83,48,18.19,scattered clouds
674,674,aswan,EG,24.0934,32.9070,73.56,37,2,11.79,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp','Current Description', 'Lat', 'Lng', ]].copy()

# Display sample data
hotel_df

                 City Country  Max Temp Current Description      Lat       Lng
2       pozo colorado      PY     70.86     overcast clouds -23.4923  -58.7972
5              atuona      PF     77.16           clear sky  -9.8000 -139.0333
11   praia da vitoria      PT     62.76          few clouds  38.7333  -27.0667
13             bereda      ES     60.42     overcast clouds  43.2686   -7.5406
14     port elizabeth      ZA     68.31     overcast clouds -33.9180   25.5701
..                ...     ...       ...                 ...      ...       ...
669     kasongo-lunda      CD     70.57     overcast clouds  -6.4667   16.8167
670         berberati      CF     66.94          light rain   4.2612   15.7922
671       tsaratanana      MG     65.14           clear sky -16.7833   47.6500
672            acarau      BR     78.42    scattered clouds  -2.8856  -40.1200
674             aswan      EG     73.56           clear sky  24.0934   32.9070

[367 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name']= "N/A"

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,pozo colorado,PY,70.86,overcast clouds,-23.4923,-58.7972,N/A
5,atuona,PF,77.16,clear sky,-9.8000,-139.0333,N/A
11,praia da vitoria,PT,62.76,few clouds,38.7333,-27.0667,N/A
13,bereda,ES,60.42,overcast clouds,43.2686,-7.5406,N/A
14,port elizabeth,ZA,68.31,overcast clouds,-33.9180,25.5701,N/A
...,...,...,...,...,...,...,...
669,kasongo-lunda,CD,70.57,overcast clouds,-6.4667,16.8167,N/A
670,berberati,CF,66.94,light rain,4.2612,15.7922,N/A
671,tsaratanana,MG,65.14,clear sky,-16.7833,47.6500,N/A
672,acarau,BR,78.42,scattered clouds,-2.8856,-40.1200,N/A
674,aswan,EG,73.56,clear sky,24.0934,32.9070,N/A

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,pozo colorado,PY,70.86,overcast clouds,-23.4923,-58.7972,Hospedaje La Norteña
5,atuona,PF,77.16,clear sky,-9.8000,-139.0333,Villa Enata
11,praia da vitoria,PT,62.76,few clouds,38.7333,-27.0667,Hotel Branco I
13,bereda,ES,60.42,overcast clouds,43.2686,-7.5406,Pazo de Verdes
14,port elizabeth,ZA,68.31,overcast clouds,-33.9180,25.5701,39 On Nile Guest House
...,...,...,...,...,...,...,...
669,kasongo-lunda,CD,70.57,overcast clouds,-6.4667,16.8167,N/A
670,berberati,CF,66.94,light rain,4.2612,15.7922,MAIRIE DE BERBERATI
671,tsaratanana,MG,65.14,clear sky,-16.7833,47.6500,N/A
672,acarau,BR,78.42,scattered clouds,-2.8856,-40.1200,castelo pizzaria
674,aswan,EG,73.56,clear sky,24.0934,32.9070,Nuba Nile

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(40)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,pozo colorado,PY,70.86,overcast clouds,-23.4923,-58.7972,Hospedaje La Norteña
5,atuona,PF,77.16,clear sky,-9.8000,-139.0333,Villa Enata
11,praia da vitoria,PT,62.76,few clouds,38.7333,-27.0667,Hotel Branco I
13,bereda,ES,60.42,overcast clouds,43.2686,-7.5406,Pazo de Verdes
14,port elizabeth,ZA,68.31,overcast clouds,-33.9180,25.5701,39 On Nile Guest House
16,san carlos de bariloche,AR,53.35,clear sky,-41.1456,-71.3082,Hotel Patagonia
17,rikitea,PF,69.39,clear sky,-23.1203,-134.9692,People ThankYou
22,esperance,AU,69.40,clear sky,-33.8667,121.9000,Hospitality Esperance
23,hobart,AU,71.91,few clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
27,crotone,IT,63.19,clear sky,39.0851,17.1178,Helios Hotel
31,hermanus,ZA,62.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
33,alexandria,EG,68.54,scattered clouds,31.2156,29.9553,Royal Crown Hotel
36,cape town,ZA,63.12,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
37,busselton,AU,67.86,scattered clouds,-33.6500,115.3333,Observatory Guest House
39,lebu,CL,50.88,broken clouds,-37.6167,-73.6500,Hostal Las Lilas
40,bredasdorp,ZA,59.13,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor
41,moerai,PF,72.41,few clouds,-22.4333,-151.3333,Le Manotel
43,port alfred,ZA,69.19,overcast clouds,-33.5906,26.8910,The Halyards Hotel & Spa
45,los llanos de aridane,ES,65.95,clear sky,28.6585,-17.9182,Valle Aridane
47,borujerd,IR,57.29,clear sky,33.8973,48.7516,Zagros International Hotel
49,clarence town,AU,75.11,light rain,-32.5833,151.7833,River Downs Cottage
52,fare,PF,77.23,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
54,kibala,TD,75.15,clear sky,9.1104,18.3463,Prasant Hotels
56,ambilobe,MG,69.39,clear sky,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
57,kruisfontein,ZA,65.88,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
58,mahebourg,MU,70.09,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
59,kapoeta,SS,75.31,light rain,4.7717,33.5903,Eastgate Hotel
60,saint-philippe,RE,69.39,scattered clouds,-21.3585,55.7679,Le four à pain
61,byron bay,AU,68.94,light rain,-28.6500,153.6167,Backpackers Inn
64,torbay,CA,52.75,light intensity drizzle,47.6666,-52.7314,Gallows Cove
65,maragogi,BR,74.32,few clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
66,lokachi,UA,50.76,overcast clouds,50.7370,24.6494,N/A
69,pocatello,US,60.48,clear sky,42.8713,-112.4455,TownePlace Suites by Marriott Pocatello
70,poum,NC,77.32,overcast clouds,-20.2333,164.0167,N/A
71,vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
72,codrington,AU,66.83,clear sky,-38.2667,141.9667,N/A
74,puerto ayora,EC,67.55,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
75,santo antonio do ica,BR,74.46,overcast clouds,-3.1022,-67.9397,HOTEL AMAZON WAY
76,camana,PE,62.44,scattered clouds,-16.6228,-72.7111,Hostal Morales
80,catanduva,BR,71.47,overcast clouds,-21.1378,-48.9728,Colonial Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
#hotel_info[:10]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2  -23.4923  -58.7972
5   -9.8000 -139.0333
11  38.7333  -27.0667
13  43.2686   -7.5406
14 -33.9180   25.5701
16 -41.1456  -71.3082
17 -23.1203 -134.9692
22 -33.8667  121.9000
23 -42.8794  147.3294
27  39.0851   17.1178

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))